<%= simple_form_for @funcionario do |f| %>
 <div class="form-inputs">
  <div class="row">
    
    <div class="col-md-4">
     <%= f.input :nome %>
    </div>
    <div class="col-md-4">
     <%= f.input :email %>
    </div>
    <div class="col-md-4">
        <%= f.input :user_id, as: :select, collection: User.all.map { |user| [user.id, user.id] }, include_blank: false, label: 'Select Employee' %>
    </div>
  </div>
  </div>
  <%= f.button :submit, class:"btn btn-primary" %>
<% end %>
