<div id="<%= dom_id funcionario %>">
  <p>
    <strong>Nome:</strong>
    <%= funcionario.nome %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= funcionario.email %>
  </p>

  <p>
    <strong>Datanascimento:</strong>
    <%= funcionario.dataNascimento %>
  </p>

  <p>
    <strong>User:</strong>
    <%= funcionario.user_id %>
  </p>

</div>
